<div class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="password" class="form-control" placeholder="Password">
                <label for="Password">Password</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Repeat">
                <label for="Repeat Password">Repeat Password</label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Recovery Email">
                <label for="Recovery Email">Recover Email</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" placeholder="Recovery Phone">
                <label for="Recovery phone">Recovery Phone</label>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between flex-row mb-5 mt-4">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> back To Contact
    </button>
    <button class="btn btn-outline-primary" cdkStepperNext>
        Submit Form <i class="fa fa-angle-right"></i>
    </button>
</div>